{% extends 'base.html' %}

  {% block content %}
  <div class="container">
    <h1 class="text-center pt-3">Welcome to My Blog</h1><br/><br/>
    <h2>Latest Posts</h2><hr>

  <div class="row">
    <div class="album py-5 bg-light">
      <div class="container">

        {% for blog in blogs.all %}
        <div class="col-sm">
          <a href="{% url 'detail' blog.id %}"><h5>{{ blog.title }}</h5><a/>
          {{ blog.mod_date }} <br/>
          <img class="img-fluid" src="{{ blog.image.url }}" height=200 width="300"/>
          <p>{{ blog.summary }}</p>
        </div><br/>
        {% endfor %}

      </div>
    </div>
  </div>

{% endblock %}
