{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
  	   <section class="text-center"><br/>
         <h1>Random password generator</h1>
         <img class="img-fluid" src="{% static 'security_passwords.jpg' %}" width="700" />
         <br/><br/>
       </section> <hr>
    <h2>Select options</h2>
  	<div class="row">
      <div class="container">

        <form action="{% url 'password' %}">
	         <select name="length">
		           <option value="8">8</option>
		           <option value="9">9</option>
		           <option value="10">10</option>
		           <option value="11">11</option>
		           <option value="12" selected="selected">12</option>
		           <option value="13">13</option>
		           <option value="14">14</option>
	         </select> Length<br/>
	          <input type="checkbox" name="uppercase">Uppercase 	<br/>
	          <input type="checkbox" name="numbers">Numbers		<br/>
	          <input type="checkbox" name="special">Special Charactors<br/><br/>
	          <input type="submit" value="Generate Password" class="btn btn-primary">
	      </form>

      </div>
    </div>
  </div>

  <div class="container"><br/> <hr>
      <p>This web page can generate random passwords. By default,
          this program use lowercase letters to generate passwords.
          A Strong password should contain uppercase, lowercase, numbers
          and special symbols. </p>
  </div>
{% endblock %}
