{% extends 'base.html' %}

{% load static %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
      <h1>Anonymous User</h1>
      <p class="lead text-muted">You can generate random passwords using this website.
        All you have to do is select options and click on Generate Password.</p>
      <img class="img-fluid" src="{%static 'profile_pic.png' %}" width="600" /><p><br/>
       <a href="mailto:contact@gmail.com" class="btn btn-primary my-2">Email me</a>
       <a href="{% url 'gen_pswrd' %}" class="btn btn-primary my-2">Generate Password</a>
      </p>
  </div>
</section>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">

      {% for job in jobs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ job.image.url }}" height="220" width="200"/>
            <div class="card-body">
            <p class="card-text">{{ job.summary }}</p>
            <div class="d-flex justify-content-between align-items-center"></div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}
