{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container">
  	<section class="text-center"><br/>
      <h1>Random password generator</h1>
      <img class="img-fluid" src="{% static 'security_passwords.jpg' %}" width="700" />
      <br/><br/>
    </section> <hr>

	   <div class="container text-center">
	      <h1>Your Password is: </h1>
	      <h2 class="alert alert-success">{{ password }}</h2>
	      <a href="{% url 'gen_pswrd' %}">Change options</a>
	   </div>
   </div>
   <div class="container"><br/> <hr>
    <p>This web page can generate random passwords. By default, this program
      use lowercase letters to generate passwords. A Strong password should
      contain uppercase, lowercase, numbers and special symbols. </p>
  </div>
{% endblock %}
